# Ignore node_modules everywhere
**/node_modules

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore local env files if any
.env
*.env

# Ignore frontend build if you always rebuild inside Docker
frontend/dist

# Ignore git files
.git
.gitignore

# Ignore logs and temp
*.log
tmp/
*.swp
.DS_Store
